# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\College\Jsp\0311\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
